main
1. banner section | done with responsive
2. popular tours section | done with responsive
3. choose destination section | done with responsive
4. why choose us section | done with responsive
5. newsletter section | done with responsive
6. footer section | done with responsive
7. desktop view and mobile responsive | done
   breakpoints:
   a) large device (laptop, desktop) - 992px and up
   b) small device (phone) - 600px and down
8. no lorem ipsum, text must be meaningful | done

bonus
1. self defined website name | done
2. navbar | done
3. showing a text on hover effect on choose destination section | 
4. one unique self defined extra section | done with responsive
5. min 3 meaningful git commit | done

optional
1. deals and discounts section
2. simple perfect place section

***tablet responsive optional | done
***no bad color | done