/* for all */
* {
    margin: 0px;
    padding: 0px;
    font-family: "Mulish", sans-serif;
}

/* shared common styles */
.button-1 {
    border-radius: 8px;
    background: rgb(255, 84, 0);
    color: white;
    font-size: 0.9em;
    font-weight: 700;
    border: none;
    padding: 10px 30px;
    margin-top: 10px;
}

.orange-highlighter {
    color: rgb(255, 84, 0);
    margin-left: 10px;
}

.black-heading {
    color: rgb(19, 19, 24);
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 20px;
}

.small-description {
    color: rgba(19, 19, 24, 0.7);
    font-size: 0.8em;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 10px;
}

/* banner section styles */
.banner {
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8), rgba(19, 19, 24, 0) 100%), url("Images/Group 1.png");
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px 120px 80px;
    padding-bottom: 50px;
}

.banner-text,
.banner-input {
    text-align: center;
    color: white;
}

.banner-text {
    padding: 5em 6em 3em;
}

.banner-text h1 {
    font-size: 3em;
    font-weight: 800;
    margin-bottom: 25px;
}

.banner-text small {
    font-size: 0.9em;
    font-weight: 400;
    line-height: 26px;
}

.banner-input {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    width: 80%;
    height: 45px;
    display: flex;
    padding: 16px;
    margin: 0 auto;
}

.banner-input input,
select {
    border: none;
    border-radius: 6px;
    background: rgb(255, 255, 255);
    width: 25%;
    height: 30px;
    padding: 6px 15px;
    box-sizing: content-box;
    color: rgba(19, 19, 24, 0.5);
    margin-right: 20px;
}

.banner-input button {
    border: none;
    border-radius: 6px;
    background: rgb(255, 84, 0);
    width: 25%;
    height: 30px;
    padding: 6px 15px;
    box-sizing: content-box;
    color: white;
}

/* popular tours sections styles */
.popular-tours {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    margin: 0px 120px 80px;
}

.popular-tours-text ul {
    margin-left: 25px;
}

.popular-tours-text {
    width: 50%;
}

.popular-tours-img {
    width: 50%;
}

.popular-tours-img img {
    border-radius: 16px;
    width: 100%;
    height: 400px;
}

/* choose destination section styles */
.choose-dest {
    margin: 0px 120px 50px;
}

.choose-dest-text {
    text-align: center;
    margin-bottom: 50px;
}

.choose-dest-img div {
    margin-bottom: 12px;
}

.choose-dest-img-1,
.choose-dest-img-2,
.choose-dest-img-3 {
    display: grid;
    column-gap: 12px;
}

.choose-dest-img-1 {
    grid-template-columns: repeat(2, 1fr);
}

.choose-dest-img-2 {
    grid-template-columns: 4fr 5fr 3fr;
}

.choose-dest-img-3 {
    grid-template-columns: 5fr 7fr;
}

.choose-dest-img-1 img,
.choose-dest-img-2 img,
.choose-dest-img-3 img {
    height: 100%;
    width: 100%;
}

/* why choose us section styles */
.why-choose {
    margin: 0px 120px 50px;
}

.why-choose-text {
    text-align: center;
    margin-bottom: 50px;
}

.card-1,
.card-3 {
    box-sizing: border-box;
    border: 1px solid rgba(251, 181, 99, 0.2);
    border-radius: 16px;
    background: rgba(251, 181, 99, 0.05);
    padding: 20px;
}

.card-2 {
    box-sizing: border-box;
    border: 1px solid rgba(41, 206, 246, 0.2);
    border-radius: 16px;
    background: rgba(41, 206, 246, 0.05);
    padding: 20px;
}

.card-1 img,
.card-2 img,
.card-3 img {
    width: 10%;
    margin-bottom: 20px;
}

.card-3 {
    width: 50%;
    margin: 0 auto;
}

.card-1 h6,
.card-2 h6,
.card-3 h6 {
    font-size: 1em;
    font-weight: 900;
    margin-bottom: 10px;
}

.card-row-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

/* newsletter section styles */
.newsletter {
    margin: 80px 120px 50px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 20px;
}

.newsletter-part-1 {
    box-sizing: border-box;
    border: 1px solid rgb(255, 84, 0);
    border-radius: 16px;
    padding: 20px;
}

.newsletter-part-1 h6 {
    font-size: 1em;
    font-weight: 900;
    margin-bottom: 10px;
}

.newsletter-part-1 hr {
    border: 1px solid rgba(19, 19, 24, 0.1);
    margin: 25px 0px;
}

.newsletter-part-1 input {
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    padding: 10px 20px;
    margin-bottom: 15px;
    display: block;
    width: 100%;
}

.newsletter-part-1 input[type="submit"] {
    background: rgb(255, 84, 0);
    color: white;
    font-weight: 700;
}

.newsletter-part-2 img {
    width: 100%;
    height: 320px;
}

.newsletter-part-2 {
    position: relative;
}

.save-card {
    text-align: center;
    border-radius: 16px;
    background: rgb(255, 84, 0);
    color: white;
    padding: 10px 20px;
    width: 30%;
    position: absolute;
    left: 240px;
    bottom: 50px;
    transform: rotate(-19.63deg);
}

/* footer section styles */
.footer {
    background: rgba(19, 19, 24, 0.05);
    padding: 110px 250px;
    text-align: center;
}

.footer>div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

#logo {
    width: 40px;
    margin-right: 15px;
}

.footer>div h3 {
    margin-bottom: 0px;
    font-size: 1.4em;
}

.footer-icons img {
    width: 20px;
    margin: 25px 15px 15px;
}

.footer hr {
    border: 1px solid rgba(19, 19, 24, 0.1);
    margin-bottom: 30px;
}

/* mobile responsive styles */
@media screen and (max-width: 600px) {

    /* banner section styles */
    .banner {
        margin: 10px 20px;
        padding-bottom: 25px;
    }

    .banner-text {
        padding: 1.5em 1.2em;
    }

    .banner-text h1 {
        font-size: 1.2em;
        font-weight: 800;
        margin-bottom: 10px;
    }

    .banner-text small {
        font-size: 0.6em;
        line-height: 15px;
        display: block;
    }

    .banner-input {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        margin: 0 20px;
    }

    .banner-input input,
    select {
        width: auto;
        height: 30px;
        padding: 6px 15px;
        box-sizing: content-box;
        margin-right: 0px;
    }

    .banner-input button {
        width: auto;
    }

    /* popular tours section styles */
    .popular-tours {
        margin: 10px 20px;
        flex-direction: column;
        gap: 2em;
    }

    .popular-tours-text {
        width: 100%;
    }

    .popular-tours-img {
        width: 100%;
    }

    .black-heading {
        font-size: 1.5em;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    /* choose destination section styles */
    .choose-dest {
        margin: 10px 20px;
    }

    .choose-dest-text {
        text-align: center;
        margin-bottom: 25px;
    }

    .choose-dest-img-1,
    .choose-dest-img-2,
    .choose-dest-img-3 {
        display: block;
    }

    .choose-dest-img-1 img,
    .choose-dest-img-2 img,
    .choose-dest-img-3 img {
        display: block;
        height: 150px;
        width: 100%;
        margin-bottom: 13px;
    }

    .black-heading {
        font-size: 1.2em;
    }

    /* why choose us section styles */
    .why-choose {
        margin: 50px 20px;
    }

    .why-choose-text {
        text-align: center;
        margin-bottom: 25px;
    }

    .card-1 img,
    .card-2 img,
    .card-3 img {
        width: 25%;
        margin-bottom: 0px;
    }

    .card-3 {
        width: 100%;
    }

    .card-1 h6,
    .card-2 h6,
    .card-3 h6 {
        font-size: 1em;
        font-weight: 900;
        margin-bottom: 10px;
    }

    .card-row-1,
    .card-1 {
        display: block;
        margin-bottom: 20px;
    }

    /* newsletter section styles */
    .newsletter {
        margin: 10px 20px 50px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .newsletter-part-2 img {
        border-radius: 16px;
    }

    .save-card {
        width: 50%;
        left: 95px;
        bottom: 30px;
    }

    /* footer section styles */
    .footer {
        padding: 30px;
    }

    #logo {
        width: 10%;
    }

    .footer>div h3 {
        margin-top: 0px;
    }

    .footer-icons img {
        width: 8%;
        margin: 25px 15px 15px;
    }

    .footer hr {
        border: 1px solid rgba(19, 19, 24, 0.1);
        margin-bottom: 30px;
    }
}