/* for all */
* {
    margin: 0px;
    padding: 0px;
    font-family: "Mulish", sans-serif;
}


/* shared common styles */
.button-1 {
    border-radius: 8px;
    background: rgb(255, 84, 0);
    color: white;
    font-size: 0.9em;
    font-weight: 700;
    border: none;
    padding: 10px 30px;
    margin-top: 10px;
}

.orange-highlighter {
    color: rgb(255, 84, 0);
    font-size: 1.1em;
    font-weight: 700;
    line-height: 23px;
}

.black-heading {
    color: rgb(19, 19, 24);
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 20px;
}

.small-description {
    color: rgba(19, 19, 24, 0.7);
    font-size: 0.8em;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 10px;
}

/* banner section styles */
.banner {
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8), rgba(19, 19, 24, 0) 100%), url("Images/Group 1.png");
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px 120px 80px;
    padding-bottom: 50px;
}

.banner-text,
.banner-input {
    text-align: center;
    color: white;
}

.banner-text {
    padding: 5em 6em 3em;
}

.banner-text h1 {
    font-size: 3em;
    font-weight: 800;
    margin-bottom: 25px;
}

.banner-text small {
    font-size: 0.9em;
    font-weight: 400;
    line-height: 26px;
}

.banner-input {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    width: 80%;
    height: 45px;
    display: flex;
    padding: 16px;
    margin: 0 auto;
}

.banner-input input,
select {
    border: none;
    border-radius: 6px;
    background: rgb(255, 255, 255);
    width: 25%;
    height: 30px;
    padding: 6px 15px;
    box-sizing: content-box;
    color: rgba(19, 19, 24, 0.5);
    margin-right: 20px;
}

.banner-input button {
    border: none;
    border-radius: 6px;
    background: rgb(255, 84, 0);
    width: 25%;
    height: 30px;
    padding: 6px 15px;
    box-sizing: content-box;
    color: white;
}

/* popular tours sections styles */
.popular-tours {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    margin: 0px 120px 100px;
}

.popular-tours-text ul {
    margin-left: 25px;
}

.popular-tours-text {
    width: 50%;
}

.popular-tours-img {
    width: 50%;
}

.popular-tours-img img {
    border-radius: 16px;
    width: 100%;
    height: 400px;
}

/* mobile responsive styles */
@media screen and (max-width: 600px) {

    /* banner section styles */
    .banner {
        margin: 10px 20px;
        padding-bottom: 25px;
    }

    .banner-text {
        padding: 1.5em 1.2em;
    }

    .banner-text h1 {
        font-size: 1.2em;
        font-weight: 800;
        margin-bottom: 10px;
    }

    .banner-text small {
        font-size: 0.6em;
        line-height: 15px;
        display: block;
    }

    .banner-input {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        margin: 0 20px;
    }

    .banner-input input,
    select {
        width: auto;
        height: 30px;
        padding: 6px 15px;
        box-sizing: content-box;
        margin-right: 0px;
    }

    .banner-input button {
        width: auto;
    }

    /* popular tours section styles */
    .popular-tours {
        margin: 10px 20px;
        flex-direction: column;
        gap: 2em;
    }

    .popular-tours-text {
        width: 100%;
    }

    .popular-tours-img {
        width: 100%;
    }

    .black-heading {
        font-size: 1.5em;
        margin-bottom: 10px;
        margin-top: 20px;
    }
}